.App {
  text-align: center;
  margin-top: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__form {
  padding: 15px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: grey;
  width: 100%;
  margin: 15px;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around;
}

.app__iconButton{
  flex: 0.1 !important;
  right: 20px;
}

.app__input{
  flex: 0.8 !important;
}
